div#list {
  display: block;
  width: 100%;
  align-items: center;
  position: relative;
  background-image: url(../../public/img/bg.jpg);
}

#list2 {
  background-color: #1524467f;
  margin-top: -16px;
  margin-bottom: -16px;
}

ul#employee-list {
  display: inline-flexbox;
  float: inline-start;
  list-style: none;

}